AIRFLOW_UID=1000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
ECODELIVERY_API_BASE_URL=http://host.docker.internal:3000
ECODELIVERY_API_EMAIL=cliente@ecodelivery.com
ECODELIVERY_API_PASSWORD=change-me
